/* app.css */

.container {
  display: flex;
  height: 100vh;
}



.main {
  flex-grow: 1;
  padding: 2em;
  background-color: #fff;
}

/* Card Styling */
.card {
  border: 1px solid #ccc;
  padding: 1em;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #fafafa;
  max-width: 60%;
}

h2, h3 {
  margin-bottom: 1em;
}

.task {
  display: flex;
  align-items: center;
  margin-bottom: 0.5em;
}

.task input {
  margin-right: 1em;
}

.checkbox-wrapper {
  display: block; 
  margin-bottom: 10px;
}

.top-bar {
  background-color: #333;
  color: rgb(255, 255, 255); /*text color */
  padding: 20px 20px; /* space between edge of the shape and the text. */
  height: 100px;
  width: 100vw; /* i guess 100 vw means 100% of the view point! */
}

textarea{
  max-width: 80%;
}

.progress_area {
  background-color: #901111;
  color: rgb(0, 0, 0); /*text color */
  padding: 20px 20px; /* space between edge of the shape and the text. */
  
  float: right;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 1.5em;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  
  max-width: 60%;
}
