/* app.css */

.container {
  display: flex;         /* Enables flexbox */
  gap: 1em;              /* Adds space between the cards */
  justify-content: space-between; /* Ensures there's even space between them */
  width: 100%;           /* Ensures the container takes up the full width */
}

/* Card Styling */
.card {
  border: 1px solid #ccc;
  padding: 1em;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #fafafa;
  max-width: 60%;
  flex-grow: 1;
}

.prog_card {
  border: 1px solid #ccc;
  padding: 1em;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #fafafa;
  flex-grow: 1;
  max-width: 30%;
}



h2, h3 {
  margin-bottom: 1em;
}

.task {
  display: flex;
  align-items: center;
  margin-bottom: 0.5em;
}

.task input {
  margin-right: 1em;
}

.checkbox-wrapper {
  display: block; 
  margin-bottom: 10px;
}



.top-bar {
  color: rgb(9, 9, 9); /* Text color */
  /*position: fixed;     /* Keeps the div in a fixed position even when scrolling */
  top: 0;              /* Aligns the div to the top of the page */
  left: 0;             /* Aligns the div to the left side of the page */
  right: 0;            /* Ensures the div spans the full width */
  width: 100%;         /* Makes the div span the entire width of the page */
  background-color: #ffffff; /* Example background color */
  padding: 10px;       /* Adds some padding inside the div */
  box-sizing: border-box; /* Ensures padding doesn't affect the div width */
}


textarea{
  max-width: 80%;
}

